.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  margin: auto;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  list-style-type: none;
}


.dailyShows {
  list-style-type: none;
}

.header {
  display: flex;
  margin: 1rem 1rem 1rem 1rem;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  min-width: 80vw;
  min-height: 10vh;
  max-width: 80%;

}
.bottomContainer {
  display: flex;
  flex-direction: row;
  max-width: inherit;
  transform: translateX(0.5%);
}

.playButton {
  position: relative;
  flex-direction: row;
  top: 50%;
  transform: translateY(-50%) translateX(70%);
  display: flex;
  margin-right: 2em;
}

.playButton:hover {
  cursor: pointer;
}

.nowPlaying {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(-60%) translateX(10%);
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-min-size: .66em;
  margin-right: 5em;
  margin-left: 1em;

}

.nowPlaying p {
  display: inline-block;
  padding-left: 100%;
  justify-content: center;
  white-space: nowrap;
  align-items: flex-start;
  animation: nowPlaying 12s linear infinite;
}

@keyframes nowPlaying {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
.calendar {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 80vw;
  min-width: 40vw;
  alignment: center;
  transform: translateX(-1%);
  border-style: inset;
}

.names li {
  list-style-type: none;
  flex-direction: column;
  font-size: .7em;
  width: 50%;
}
.dates li {
  list-style-type: none;
  flex-direction: column;
  font-size: .7em;
}
.chatStream {
  overflow: scroll;
  word-wrap: break-word;
  margin: 1em 1em 1em 1em;
}
.chatTitle {
  padding-left: 0.5vw;
}

.calendarTitle {

}
.chatBox {
  width: 40vw;
  height: 100%;
  max-height: 32.20vh;
  overflow: scroll;
}

.uniqueDays {
  list-style-type: none;
}

.calendarContainer {

}
.times {
  transform: translateX(50%);
  white-space: nowrap;
  position: absolute;
  right: 4em;
}

.chatInputContainer {
  display: flex;
  flex-direction: row;
  padding-top: 0.25vh;
  width: 100%;
}

.show {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.chatInput {
  width: inherit;
}
.inputButton {

}

.chatBoxContainer {
  display: flex;
  flex-direction: column;
  height: inherit;
  max-height: inherit;
  overflow: hidden;
}

.oval {
  min-width: 55vw;
  height: 3em;
  margin-left: 5vw;
  border: solid black;
  border-radius: 40px;
  position: relative;
  max-width: 65vw;
}

.logo {
  padding: 5vw;
  min-width: 10vw;
}
@media only screen and (max-width: 960px) {
  .nowPlaying {
    margin-right: 3em;
  }
  .calendar {
    transform: translateX(6%);
  }
  .dates {
    transform: translateX(9%);
  }
  .bottomContainer {
    flex-direction: column;
  }
  .calendar {
    transform: translateX(0);
  }
  .chatBoxContainer{
    height: 100%;
  }

}

@media only screen and (max-width: 660px) {
  .nowPlaying {
    margin-right: 4em;
    margin-left: 2em;
  }
  .nowPlaying p {
    font-size: .8em;
  }
  .calendar {
    transform: translateX(-7%);
    font-size: .25em;
  }
  .calendar {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 2000px) {
  .main {
    margin-right: 20%;
    margin-left: 20%;
  }
}
