.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  margin: auto;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  list-style-type: none;
}


.dailyShows {
  list-style-type: none;
}

.header {
  display: flex;
  margin: 1rem 1rem 1rem 1rem;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  min-width: 90vw;
  min-height: 10vh;
}
.bottomContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  transform: translateX(-7%);
}

.playButton {
  position: relative;
  flex-direction: row;
  top: 50%;
  transform: translateY(-50%) translateX(70%);
  display: flex;
  margin-right: 2em;
}

.playButton:hover {
  cursor: pointer;
}

.nowPlaying {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(-60%) translateX(10%);
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-min-size: .66em;
  margin-right: 5em;
  margin-left: 1em;

}
.marquee {
  transform: translateY(-70%) translateX(-10%);
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  margin-right: 5em;
}
.nowPlaying p {
  display: inline-block;
  padding-left: 100%;
  justify-content: center;
  white-space: nowrap;
  align-items: flex-start;
  animation: nowPlaying 12s linear infinite;
}

@keyframes nowPlaying {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
.calendar {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 80vw;
  min-width: 40vw;
  alignment: center;
  transform: translateX(-5%);
  border-style: inset;
}

.names li {
  list-style-type: none;
  flex-direction: column;
  font-size: .7em;
  width: 50%;
}
.dates li {
  list-style-type: none;
  flex-direction: column;
  font-size: .7em;
}
.chatStream {
  overflow: auto;
  word-wrap: break-word;
  margin: 1em 1em 1em 1em;
}
.chatTitle {
  padding-left: 3vw;
}

.calendarTitle {

}
.chatBox {
  width: 40vw;
  height: inherit;
  margin-top: 3%;
}

.uniqueDays {
  list-style-type: none;
}

.calendarContainer {

}
.times {
  transform: translateX(50%);
  white-space: nowrap;
  position: absolute;
  right: 4em;
}

.chatInputContainer {
  padding-top: 0.5vh;

}
.show {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.chatInput {
  width: 30vw;
  padding-left: 4em;
}
.inputButton {

}

.chatBoxContainer {
  height: 35vh;
}

.chatBoxContainer div {
  max-width: 35vw;
  max-height: 25vh;
  overflow: auto;
}

.oval {
  min-width: 55vw;
  height: 3em;
  margin-left: 5vw;
  border: solid black;
  border-radius: 40px;
  position: relative;
  max-width: 65vw;
}

.logo {
  padding: 5vw;
  min-width: 10vw;
}
@media only screen and (max-width: 960px) {
  .nowPlaying {
    margin-right: 3em;
  }
  .calendar {
    transform: translateX(6%);
  }
  .dates {
    transform: translateX(9%);
  }
  .bottomContainer {
    flex-direction: column;
  }

}

@media only screen and (max-width: 660px) {
  .nowPlaying {
    margin-right: 4em;
    margin-left: 2em;
  }
  .nowPlaying p {
    font-size: .8em;
  }
  .calendar {
    transform: translateX(-7%);
    font-size: .25em;
  }
  .bottomContainer {
    flex-direction: column;
  }
}