.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.artistsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  alignment: center;
  align-items: center;
  width: 60vw;
}

.artistsGridName {
  display: flex;
  justify-content: center;
}

.artistsGridImages {
  display: flex;
  justify-content: center;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  alignment: center;
  justify-content: center;
  text-align: center;
  transform: translateX(5vw);
}


.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  margin: auto;
  width: 95vw;
  height: 80vh;
}

.mainColumn {
  width: 50%;
  transform: translateX(7%) ;
  padding-right: 3%;
}

.footer {
  width: 86%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1em;
  margin-top: 3%;
}

.footer a {
  padding-right: 1em;
}

.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  alignment: left;
  justify-content: left;
  width: 10vw;
  padding-right: 5%;
  padding-left: 0.75%;
  transform: translateX(-37vw) translateY(10vh);
}

.sidebar ul {
  list-style: none;
  font-size: 25pt;
}
.sidebar li {
  padding: .5em;
}


.days {
  list-style-type: none;
}

.dailyShows {
  list-style-type: none;
  padding: 0 0 0 5%;
  min-width: 80%;
}

.header {
  display: flex;
  margin: 1rem 1rem 1rem 1rem;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  min-width: 80vw;
  min-height: 10vh;
  max-width: 80%;

}
.bottomContainer {
  display: flex;
  flex-direction: row;
  alignment: center;
  width: 100%;
  min-height: 40%;
  transform: translateX(0.5%);
  margin-right: 0;
  margin-bottom: 0;
}

.playButton {
  position: relative;
  flex-direction: row;
  top: 50%;
  transform: translateY(-50%) translateX(70%);
  display: flex;
  margin-right: 2em;
}

.playButton:hover {
  cursor: pointer;
}

.nowPlaying {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(-60%) translateX(10%);
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-min-size: .66em;
  margin-right: 5em;
  margin-left: 1em;

}

.nowPlaying p {
  display: flex;
  padding-left: 40vw;
  margin-right: 20vw;
  justify-content: right;
  white-space: nowrap;
  animation: nowPlaying 12s linear infinite;
}

@keyframes nowPlaying {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-width: 80vw;
  alignment: center;
  transform: translateX(-1%);
  border: solid black;
  border-radius: 40px;
  margin-right: 1%;
}

.names li {
  list-style-type: none;
  flex-direction: column;
  font-size: .7em;
  width: 50%;
}
.dates li {
  list-style-type: none;
  flex-direction: column;
  font-size: .7em;
}
.chatStream {
  max-height: inherit;
  word-wrap: break-word;
  margin: 1em 1em 1em 1em;
}
.chatTitle {
  padding-left: 0.5vw;
  border: solid black;
  border-radius: 40px;
  margin-right: 10%;
}

.calendarTitle {
  padding-left: 0.5vw;
  border: solid black;
  border-radius: 40px;
  margin-right: 10%;
}
.chatBox {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100%;
  overflow: scroll;
  border: solid black;
  border-radius: 40px;
}

.uniqueDays {
  list-style-type: none;
}

.calendarContainer {
  height: 100%;
  margin-right: 1%;
}

.times {
  transform: translateX(50%);
  white-space: nowrap;
  position: absolute;
  right: 4em;
}

.chatInputContainer {
  display: flex;
  flex-direction: row;
  padding-top: 0.25vh;
  width: 100%;
}

.show {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.chatInput {
  width: inherit;
  border: solid black;
  border-radius: 40px;
}

.inputButton {
  border: solid black;
  border-radius: 40px;
}

.inputButton:hover {
  cursor: pointer;
}

.chatBoxContainer {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  max-height: inherit;
}

.oval {
  min-width: 55vw;
  width: inherit;
  height: 3em;
  margin-left: 5vw;
  border: solid black;
  border-radius: 40px;
  position: relative;
}

.logo {
  padding-right: 15%;
  min-width: 10vw;
}

@media only screen and (max-width: 960px) {
  .nowPlaying {
    margin-right: 3em;
  }
  .calendar {
    transform: translateX(6%);
  }
  .dates {
    transform: translateX(9%);
  }
  .bottomContainer {
    flex-direction: column;
  }
  .calendar {
    transform: translateX(0);
  }
  .chatBoxContainer{
    height: 100%;
  }
}

@media only screen and (max-width: 660px) {
  .sidebar {
    flex-direction: row;
  }
  .nowPlaying {
    margin-right: 4em;
    margin-left: 2em;
  }
  .nowPlaying p {
    font-size: .8em;
  }
  .calendar {
    transform: translateX(-7%);
    font-size: .25em;
  }
  .calendar {
    transform: translateX(0);
  }
  .chatBox  {
    height: 40vh;
    width: 100%;
    max-width: 80vw;
  }
  .footer {
    justify-content: center;
  }
}

@media only screen and (min-width: 2000px) {
  .main {
    margin-right: 20%;
    margin-left: 20%;
  }
}
